
html, body, .app{
    height: 100vh;
    background: #eee;
    padding: 1em;
}
.header{
    font-weight: 300 !important;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.blue{
    background-color: #164C72 !important;
}

.pointer{
    cursor: pointer;
}